#container{
    background-color: yellow;

}
/* 
.header{
    background-color: #333;
    color: #fff;
    padding: 200px;
    text-align: justify;
}

.header img{
    max-width: 100%;
    height: auto;
}

.header h1{
    font-size: 36px;
    margin-top: 10px;
}
.header p{
    font-size: 18px;
    margin-top: 10px;
} */



.header {
    background-color: #333; /* Dark background color */
    color: #fff; /* White text color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Padding for header */
  }
  
  .logo img,
  .user-icon img {
    width: 40px; /* Size of the logo and user icon */
    height: auto; /* Maintain aspect ratio */
  }
  
  .search-bar {
    flex: 1; /* Grow to take up remaining space */
    margin: 0 20px; /* Add some margin between elements */
  }
  
  .search-bar input {
    width: 100%; /* Take up full width of the container */
    padding: 5px;
    font-size: 16px;
  }
  
  .search-bar button {
    background-color: #fff; /* White background color */
    color: #333; /* Dark text color */
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #ddd; /* Light gray background color on hover */
  }
  